.banner{
  background-color:black;
  background-image:url("https://images.unsplash.com/photo-1537724326059-2ea20251b9c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80");
  background-repeat: no-repeat;
  background-position:right;
  background-size: contain;
  height:500px;
  width:100%;
  margin:0;
  margin-top:-25px;
  display:flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  color:white;
}

.banner .calling{
  margin-left:50px;
  text-align:center;
  width:50%;
}

.banner h2{
  font-size:40px;
  text-shadow: 1px 1px 3px rgb(150, 150, 150)
}

.banner h1{
  font-size:50px;
   text-shadow: 1px 1px 3px rgb(150, 150, 150)
}
